<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Covid 19 Tracker</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!--  <link rel="stylesheet" type="text/css" media="all"-->
<!--        href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" />-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"></head>

<body>
<div class="container">
<h1>Covid 19 Daily Tracker</h1>
<p>List of cases confirm in the global scope</p>

<div class="jumbotron">
  <h1 class="display-4" th:text="${totalCases}"></h1>
  <hr class="my-4">
  <p>Total cases reported in world.</p>
</div>

  <div class="row">

    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Highest confirmed cases in the world</h5>
          <p class="card-text">Country</p>
          <p class="card-text">Number of cases</p>

        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Highest confirmed cases in the world</h5>
          <p class="card-text">Country</p>
          <p class="card-text">Number of cases</p>

        </div>
      </div>
    </div>

  </div>



<table class="table">
  <tr>
    <th>Country</th>
    <th>State</th>
    <th>Total Confirmed Cases</th>
  </tr>
  <tr th:each="locationStat : ${locationStats}">
    <td th:text="${locationStat.state}"></td>
    <td th:text="${locationStat.country}"></td>

    <td th:text="${locationStat.latestTotalCases}">0</td>
  </tr>
</table>

</div>
</body>

</html>